/aws-dbserver.rdp
/aws-dbserver.txt
/aws-keypair.pem
/aws-webtest.rdp
/aws-webtest.txt
/Demo URLs.txt
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.DB/bin
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.DB/obj
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.DB/OctopusDeploy.QFrameBootcamp.DB.csproj.user
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.Web/OctopusDeploy.QFrameBootcamp.Web.csproj.user
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.Web/OctopusDeploy.QFrameBootcamp.Web.csproj.DotSettings
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.Web/bin
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.Web/obj
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.sln.DotSettings
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.ncrunchsolution
/OctopusDeploy.QFrameBootcamp.Begin/OctopusDeploy.QFrameBootcamp.ncrunchsolution.user
