<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add
      name="BootcampConnectionString"
      connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=Bootcamp.Production;Application Name=Bootcamp;User=Bootcamp;Password=Bootcamp;Persist Security Info=True;"
      providerName="System.Data.SqlClient"
      xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)"/>
  </connectionStrings>
</configuration>