<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add
      name="QFrameBootcampConnectionString"
      connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=QFrameBootcamp.Production;Application Name=QFrameBootcamp;User=QFrameBootcamp;Password=QFrameBootcamp;Persist Security Info=True;"
      providerName="System.Data.SqlClient"
      xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)"/>
  </connectionStrings>
</configuration>