<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="QFrameBootcampConnectionString" connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=QFrameBootcamp.Development;Application Name=QFrameBootcamp;User=QFrameBootcamp;Password=QFrameBootcamp;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>